:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 15px;

  /* colors */
  --oui-color-primary: 23 99 23;
  --oui-color-primary-light: 41 169 41;
  --oui-color-primary-darken: 15 66 15;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 23 99 23;
  --oui-color-link-light: 41 169 41;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 255 132 173;
  --oui-color-danger-darken: 194 66 99;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 77 255 205;
  --oui-color-success-darken: 25 194 129;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 227 114;
  --oui-color-warning-darken: 194 143 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 25 25 25;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 74 65 103;
  --oui-color-base-3: 55 55 77;
  --oui-color-base-4: 36 32 55;
  --oui-color-base-5: 27 24 44;
  --oui-color-base-6: 17 15 33;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 10 8 22;
  --oui-color-base-9: 6 5 15;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 15 66 15;
  --oui-gradient-primary-end: 23 99 23;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 25 194 129;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 194 66 99;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 25 194 129;
  --oui-gradient-brand-end: 23 99 23;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 194 143 0;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 15px !important;
}